<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean name="Config" class="Constant.Config">
        <property name="round" value="5"></property>
        <property name="reasonList">
            <list>
                <value>Salary</value>
                <value>Outing</value>
                <value>Rent Fee</value>
            </list>
        </property>
        <property name="serverName" value="Bao, Li"></property>
        <property name="clientNameList">
            <list>
                <value>Zhang, Ruofan</value>
                <value>Lu, Chunzhe</value>
                <value>Xiong, Dan</value>
            </list>
        </property>
        <property name="initDispense" value="50000"></property>
        <property name="totalBalance" value="100000"></property>
    </bean>

</beans>